<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Contact List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-App='MyApp'>

  <div class="page-header">
  <h1>Drinking Buddies <small> ...because friends don't let friends drink alone</small></h1>
  </div>

<div ng-controller='mainCtrl' class="container">

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <div class="form-group">
              <label for="inputTask">New Contact</label>
              <input type="name" class="form-control" placeholder="Enter Name" ng-model="newContact.name">
            </div>
            <div class="form-group">
              <label for="inputDate">@</label>
              <input type="email" class="form-control" placeholder="Enter Email" ng-model="newContact.email">
            </div>
            <div class="form-group">
              <label class="locInput">Location</label>
              <input type="text" class="form-control" placeholder="Enter Location" ng-model="newContact.location">
            </div>
            <div class="form-group">
              <label class="phoneInput">#</label>
              <input type="tel" class="form-control" placeholder="xxx xxx xxxx" ng-model="newContact.phone">
            </div>
            <div class="form-group">
              <label class="spirit">Spirit</label>
              <input type="text" class="form-control" placeholder="Spirit of Choice" ng-model="newContact.spirit">
            </div>
           </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
          <button ng-click="editContact(newContact)" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>


    <div id="formEntry" class="row">
      <form class="form-inline">
        <div class="form-group">
          <label for="inputTask">New Contact</label>
          <input type="name" class="form-control" placeholder="Enter Name" ng-model="newContact.name">
        </div>
        <div class="form-group">
          <label for="inputDate">@</label>
          <input type="email" class="form-control" placeholder="Enter Email" ng-model="newContact.email">
        </div>
        <div class="form-group">
          <label class="locInput">Location</label>
          <input type="text" class="form-control" placeholder="Enter Location" ng-model="newContact.location">
        </div>
        <div class="form-group">
          <label class="phoneInput">#</label>
          <input type="tel" class="form-control" placeholder="xxx xxx xxxx" ng-model="newContact.phone">
        </div>
        <div class="form-group">
          <label class="spirit">Spirit</label>
          <input type="text" class="form-control" placeholder="Spirit of Choice" ng-model="newContact.spirit">
        </div>
        <button ng-click='addContact()' class="btn btn-danger">Add New Contact</button>
       </form>
     </div>
     <hr>

   <div class="form-group">
     <label for="filter">Search</label>
     <input ng-model="filterText" type="text" class="form-control">
    </div>

    <table class='table' ng-show='contacts.length'>
    <thead>
        <tr>
        <th>#</th>
        <th ng-repeat='(key, value) in contacts[0]'>{{key}}</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
     <tbody>
       <tr ng-repeat='contact in contacts | filter: filterText track by $index'  ng-class='{lightsteelblue: even}'>
         <td>{{$index + 1}}</td>
         <td ng-repeat='value in contact'>{{value}}</td>
         <td>
           <button type="button" ng-click="removeContact(contact)" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"data-toggle="modal" data-target="#myModal">
             <span class="glyphicon glyphicon-pencil"></span>
           </button>
         </td>
         <td>
           <button ng-click="removeContact(contact)" type="button" class="btn btn-primary btn-sm">
             <span class="glyphicon glyphicon-trash"></span>
           </button>
         </td>
         </tr>
       </tbody>
      </table>

    </div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
